/*--------- code adapted from http://jsfiddle.net/4AnsK/11/-----start----*/
#evilNonSemanticSpacer {
    float:right;
    display:block;
    height:100px;
}
/*---------code adapted from http://jsfiddle.net/4AnsK/11/-----end----*/

.floatRightBox {
    height:200px;
    width: 200px;
    float: right;
    clear: right;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.floatLeftBox {
    height:200px;
    width: 200px;
    float: left;
    margin-right: 10px;
}
.photo1 {
    margin-top: 0px;
    background-color: #fafafa;
    background-image: url(../photos/spaniel.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 240px;
}
.photo2 {
    margin-top: 0px;
    background-image: url(../photos/sheep.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
}
.photo3 {
    margin-top: 0px;
    background-image: url(../photos/labrador.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 240px;
}