@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');
@import url("https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.0/css/hover-min.css");

/*---------------------------------------Colors------------*/
.hr-grey hr {
    margin: 0;
    padding: 10px;
    background-color: #333;
}
.hr-red hr { 
    margin: 0;
    padding: 1px;
    border-bottom: 1px solid #f33;
}
.bdr-red  { 
    border-bottom: 1px;
    border-color: #f45;
}

/*--------------------------------------Special pad------------*/
h1,h2,h3{
    margin: 0px;
    text-align: center;
    padding: 0;
}
h4 {
    margin-top: 20px;
    margin-bottom: 20px;
}
.uppercase {
    text-transform: uppercase;
}
.white-text {
    font-family: "Exo", sans-serif;
    font-weight: 400;
    color: #fafafa;
}
.inline-block {
    display: inline-block;
}
.use-table {
    display: table;
}
/* --------------------------dropMenu--------------------*/
.navDefault {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
   height: 30px;
}
.dropdown {
   position: relative;
   top: 3px;
   left: 90px;
}
.dropMenu{
    position: relative;
    top: 0px;
    left: 0px;
    list-style: none;
    margin:0;
    padding-left: 0;
    z-index: -2;
    transform: translateX(-15%);
    transition: transform .75s ease-in-out;
}
.dropItem{
    display: inline-block;
}
.dropBtn {
    background-color: #a5a5e3;
   color: green;
}
.dropdown:hover .dropMenu {
    transform: translateX(-70%);
   z-index: 2;
}
.dropdown:hover button {
     transform: translateY(-350px); 
} 
/* --------------------------header----------------------*/
header {
    margin: 0;
    background-color: #a5a5e3;
    min-height: 160px;
}
.logo {
    margin-top: 20px;
    padding: 0px;
    background: url(../photos/doghead.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 120px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
} 
.heading-md {
    font-family: "Exo", sans-serif;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 100;
    font-size: 46px;
    background-color: #333;
    padding: 10px;
    color: #fafafa;
}
#btn-heading {
    text-align: center;
    margin-bottom: 5px;
}
#btn-heading a:hover {
    color: #33f033;
}
/* --------------------------section video----------------------*/
.container-video {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* --------------------------section about----------------------*/
ul p {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    color: #0f0f0f;
}
.bg-photo2 {
    background-color: #33e055;
}
/* -------------------------- photos----------------------*/
#photos article {
        min-height: 160px;
        border-top: 1px solid red;
        border-bottom: 1px solid red;
    }

/* -------------------------- directions----------------------*/
#address {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 0;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    padding: 0;
}
#address h {
   font-family: "Roboto", sans-serif;
   font-weight: 700;
   font-size: 25px;
   position: relative;
   left: 10%;
   top: 30px;
}
#address p {
    position: relative;
    left: 15%;
    top: 30px;
    font-family: "Exo", sans-serif;
    font-size: 36px;
}
#map  {
    position: relative;
    text-align: center;
    top: 30px;
    font-family: "Exo", sans-serif;
    font-size: 36px;
    padding: 0;
    margin-bottom: 50px;
}
/* --------------------------contact----------------------*/
#contact main {
    background-color: #234567;
}
#contact h {
    position: relative;
    text-align: left;
    top: -160px;
    left: 80px;
    font-family: "Exo", sans-serif;
    font-size: 15px;
    color: #44e0f0;
}
.pacifico {
    position: relative;
    text-align: left;
    left: 10px;
    font-family: "Pacifico", sans-serif;
    color: #22e0f0;
    margin-top: 40px;
}
#contact #send {
    position: relative;
    text-align: left;
    left: 40px;
}
.center-form {
    margin: 10px auto;
    padding-top: 10px; 
    max-width: 70%;
}
#contact .form-control {
    margin: 20px;
}
/* --------------------------footer----------------------*/
footer {
    background-color: #664422;
    min-height: 120px;
    color: #fafafa;
    margin: 0;
    padding: 10px;
}
footer p {
    margin: 0 10px 10px 0;
}
footer a i {
    padding-right: 7px;
}
footer a:hover {
    color: #33f033;
}
.social-links {
    padding-bottom: 15px;
}
.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all .35s ease-in-out;
    -moz-transition: all .35s ease-in-out;
    -webkit-transition: all .35s ease-in-out;
    -o-transition: all .35s ease-in-out;
}
.social-links li a i:hover {
    background-color: #e84f10;
}
/*----------------------media---------------*/
@media(min-width:768px) {
 .use-cell {
    padding: 0 30px 30px;
    float: none;
    display: table-cell;
    }
 .center-form {
    margin: 0 auto;
    min-height: 350px;
    padding-top: 30px; 
    max-width: 70%;
    }
 
}
@media(max-width:767px) {
    #photos article {
        margin-top: 20px;
    }
    .pacifico {
        margin-top: 0px;
    }
    #contact h {
    display: none;
    }
    .logo, .smallBox {
    display: none;
    }
    #address {
        width: 75%;
        border:0;
    }
    footer {
        text-align: center;
    }
    #photos main {
        padding-bottom: 20px;
    }
}